.drawer-toggle:checked ~ .drawer-content {
  transform: translate(0);
}

.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-content {
  transform: translate(0);
}

.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  opacity: 0;
}

.tabs-lift {
  &:has(.tab-content) {
    & > .tab:first-child {
      &:not(.tab-active, [aria-selected='true']) {
        --tab-border-colors: var(--tab-border-color) var(--tab-border-color)
          var(--tab-border-color);
      }
    }
  }
}
