@use 'tailwindcss';
@plugin "daisyui" {
  exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(90% 0 0);
  --color-base-300: oklch(80% 0 0);
  --color-base-content: oklch(40% 0.031 278.072);
  --color-primary: oklch(60% 0.158 241.966);
  --color-primary-content: oklch(90% 0.158 241.966);
  --color-secondary: oklch(60% 0.046 257.417);
  --color-secondary-content: oklch(90% 0.046 257.417);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(90% 0.118 184.704);
  --color-neutral: oklch(30% 0 0);
  --color-neutral-content: oklch(60% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(90% 0.126 221.723);
  --color-success: oklch(60% 0.194 149.214);
  --color-success-content: oklch(90% 0.194 149.214);
  --color-warning: oklch(60% 0.199 91.936);
  --color-warning-content: oklch(90% 0.199 91.936);
  --color-error: oklch(60% 0.191 22.216);
  --color-error-content: oklch(90% 0.191 22.216);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
