.scene {
  width: 240px;
  height: 240px;
  perspective: 1000px;
  position: relative;

  .carousel.keen-slider {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
  }
}

.carousel__cell {
  position: absolute;
  width: 240px;
  left: 10px;
  height: 200px;
}
