.scene {
  width: 200px;
  height: 1400px;
  perspective: 1000px;
  position: relative;

  .carousel.keen-slider {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: block;
    position: relative;
    transform-style: preserve-3d;
  }
}

.carousel__cell {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
